<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale = 1.0">
    <title>Home</title>
</head>

<body>
    <h1> Home <%= 'page'.toUpperCase() %> </h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Atque tempora nostrum error, fuga distinctio officia placeat amet, nobis neque, debitis deserunt adipisci. Corporis magnam nisi, earum fugit obcaecati officiis nihil!</p>
</body>

</html>