<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale = 1.0">
    <title>Home</title>
</head>

<body>
    <h1> Index of songs: </h1>
    <% for (let song of songs){ %>
    <li><a href="/s/<%=song.id %>"><%=song.title%></a></li>
    <% } %>
</body>

</html>