<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial scale = 1.0">
    <title>Slotify - Register</title>
</head>

<body>
    <a href="/">Home</a>
    <form>
        <label>First Name:<label>
        <input id="firstname" type="text">
        <br>
        <label>Last Name:<label>
        <input id="lastname" type="text">
        <br>
    </form>
</body>

<script>

    function sign_up() {
        
    }

</script>

</html>