<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title> <%=title%> </title>
</head>

<style>
    body {
        text-align: center;
    }

    .container {
        width: 100%;
        justify-content: center;
        display: flex;
    }

</style>

<body>
<a href="/" > home </a>
    <h1> <%=title%> </h1>
    <h2> Artist: <%=name%> </h2>

    <br> 
    <div class="container">
        
    </div>

</body>

</html>